<div class="wizzy-search-empty-results-wrapper wizzy-suggestions">
    <div class="wizzy-empty-results-summary">
        <p>You searched for <span class="wizzy-empty-searched-query">[[ query ]]</span></p>
    </div>
    <div class="wizzy-empty-results-icon"></div>
    <div class="wizzy-empty-results-content">
        <h2>Sorry! We couldn’t find anything for your search query.</h2>
        <p>Please check the spelling or try searching for something else.</p>

<h2>You might want to check out:</h2>
  <div clas="wizzy-product-item">
          <a href="https://www.acnesquad.com/collections/all">
          <div class="result-product-item-image">
              <img src="https://cdn.shopify.com/s/files/1/0647/2368/1517/files/DTC-Desktop-1512x558.jpg?v=1683898014" class="product-item-image" loading="lazy">
          </div>
        </a>
        </div>
  
    </div>
    <div class="wizzy-search-wrapper">
        <div class="wizzy-search-results-wrapper">
            <div class="wizzy-search-results-container">

          <div class="wizzy-search-summary-container">
          Also check out our Bestsellers!
          </div>
          
                <div class="wizzy-search-results">
                    <ul class="wizzy-search-results-list">
                        [[#suggestions]]
                          [[& html]]
                        [[/suggestions]]
                    </ul><!-- ending of wizzy-search-results-list -->
                </div>
            </div>
        </div>
    </div>
</div>
