{{ 'quizs.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
      </div>
  
    </div>
  </div>
</div>
{% section 'QuizeSec2' %}
